<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <title>Budgie Demo</title>
	
	<link href="../../Content/bootstrap/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../../Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../../Content/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="../../Content/bootstrap/css/templatemo_style.css" rel="stylesheet" type="text/css">
    @Section['Head']
</head>

<body class="templatemo-bg-image-2">
    @Section['Content']

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
	<script src="../../Scripts/jquery.backstretch.min.js"></script>
    <!--[if lt IE 10]>
    <script src="../../Scripts/placeholder.js"></script>
    <![endif]-->
	@Section['Scripts']
</body>

</html>